.container
{
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

.cs-container-left
{
    padding: 8px;
}

.container-img
{
    width: 100px;
    -webkit-filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

/* Responsive container class for larger screens */
@media (min-width: 0px) {
    .cs-container-right
    {
        justify-content: center;
    }
    .skin-box
    {
        height: 71px;
        width: 71px;
    }
}
/* Responsive container class for larger screens */
@media (min-width: 576px) {
    .container {
        max-width: 530px; /* Adjust the max-width based on your design */
    }
    .cs-container-right
    {
        justify-content: center;
    }
    .skin-box
    {
        height: 74px;
        width: 74px;
    }
}
  
@media (min-width: 768px) {
    .container {
        max-width: 742px; /* Adjust the max-width based on your design */
    }
    .cs-container-right
    {
        justify-content: center;
    }
    .skin-box
    {
        height: 90px;
        width: 90px;
    }
}
  
@media (min-width: 992px) {
    .container {
        max-width: 954px; /* Adjust the max-width based on your design */
    }
    .cs-container-left
    {
        width: 22%;
    }
    .cs-container-right
    {
        width: 78%;
        justify-content: left;
    }
    .skin-box
    {
        height: 94px;
        width: 94px;
    }
}
  
@media (min-width: 1200px) {
    .container {
        max-width: 1148px; /* Adjust the max-width based on your design */
    }
    .cs-container-left
    {
        width: 26%;
    }
    .cs-container-right
    {
        width: 74%;
        justify-content: left;
    }
    .skin-box
    {
        height: 94px;
        width: 94px;
    }
}

.cs-container
{
    border-radius: 12px;
    margin: 25px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #3C3F53;
    background: #21263D;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*Couleur bronze*/
.cs-container.bronze
{
    border: 2px solid #cd7f32;
}
/*Couleur argent*/
.cs-container.silver
{
    border: 2px solid #C0C0C0;
}
/*Couleur or*/
.cs-container.gold
{
    border: 2px solid #ffd700;
}


@media (max-width: 992px) {
    .cs-container {
        flex-direction: column;
    }
}



.cs-container-right
{
    position: relative;
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skin-box-wrapper
{
    position: relative;
}

.skin-box
{
    margin: 5px;
    border-radius: 4px;
}
.skin-box.blur
{
    filter: grayscale(85%);
}
.skin-box>img
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.skin-box:hover{
    filter: grayscale(0%);
}
.skin-box-wrapper:hover .skin-box > img {
    transform: scale(1.2) translateY(-42%) rotate(6deg);
}



  .skin-box-wrapper .tooltip_item_name {
    visibility: hidden;
    
    background: #282F44;
    border: 1px solid #3C3F53;
    color: #fff;
    text-align: center;
    border-radius: 6px;
   
    white-space: nowrap;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 1;
    padding: 5px;
    
    /* Position the tooltip */
    position: absolute;
    
  }
  
  .skin-box-wrapper:hover .tooltip_item_name {
    visibility: visible;
  }

.cs-container-left-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_name, .top_percentage {
    width: 100%;
}
.container_name
{
    color: #fff;
}
.top_percentage
{
    color: #afafaf;
}

.container-img {
    max-width: 100%;
}

@media (min-width: 992px) {
    .cs-container-left
    {
        display: flex;
        align-items: center;
    }
    .cs-container-left-top {
        flex-wrap: wrap;
    }

    .container_name {
        order: 2;
        width: 100%;
    }

    .container-img {
        order: 1;
        margin-bottom: 10px;
        width: 140px;
    }

    .top_percentage {
        order: 3;
        width: 100%;
    }
}
